@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@font-face {
  font-family: 'Outward Block';
  src: url('./fonts/Finesse-Roman.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Outward Borders';
  src: url('./fonts/Westgate-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

